@tailwind base;
@tailwind components;
@tailwind utilities;
/* Thêm vào App.css hoặc styles.css */
/* Thêm vào App.css hoặc styles.css */

body{
    background: rgb(63,247,251);
    background: radial-gradient(circle, rgba(63,247,251,1) 0%, rgba(255,255,255,1) 100%);
}
/* *{
outline: 4px solid green !important;
} */
.gradientgg {
    background: rgb(11,255,211);
background: linear-gradient(90deg, rgba(11,255,211,1) 0%, rgba(58,248,111,1) 100%);
}
.gradientlj {
    background: rgb(77, 200, 238);
    background: linear-gradient(90deg, rgb(76, 255, 121) 0%, rgba(11,255,211,1) 100%);
}
.textshadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
.menu {
    display: none;
}

@media only screen and  (max-width: 767px) {
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size:4vw;
    }
    .menu {
        display: block; /* Hiển thị menu cho màn hình nhỏ */
    }
    .menu-content {
        display: none; /* Ẩn nội dung menu lớn */
    }
   
}

@media only screen and  (min-width: 767px) {
    h1 {
        font-size:7vw;
    }
    h2 {
        font-size:4vw;
    }
}